name: napari-sparrow
channels:
  - pytorch
  - conda-forge
dependencies:
  - geopandas=0.12.2
  - leidenalg=0.9.1
  - matplotlib=3.5.2
  - napari=0.4.16
  - numpy=1.24.4
  - opencv=4.5.5
  - pip=22.2.2
  - python=3.10.8
  - pytorch=1.12.1
  - rasterio=1.3.2
  - scanpy=1.9.1
  - scipy=1.8.0
  - seaborn=0.11.2
  - fsspec=2023.6.0
  - pip:
    - anndata==0.9.1
    - basicpy==1.0.0
    - cellpose==2.0.5
    - jax==0.4.6
    - jaxlib==0.4.6
    - shapely==2.0.1
    - spatialdata==0.0.9
    - squidpy==1.2.0
    - voronoi-diagram-for-polygons==0.1.6
    - xarray==2022.12.0
    - xarray-dataclasses==1.5.0
    - xarray-datatree==0.0.12
    - xarray-schema==0.0.3
    - xarray-spatial==0.3.5
    - pandas==1.4.2