name: napari-sparrow
channels:
  - conda-forge
dependencies:
  - python=3.10.8
  - opencv
  - pip
  - rasterio
  - pip:
      - basicpy==1.0.0
      - torch
      - cellpose
      - jax==0.4.6
      - jaxlib==0.4.6
      - ipython
      - ipykernel
